#reglogformmain{
  min-height:400px; 
}
.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #fff7f7;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .checkbox-label .ball {
    background-color: #0d0f10;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }


  /* .reglog{
    padding:10px;
  } */

  .toptog{
    max-width: 400px;
    margin-left:10px;
    border-bottom:2px solid grey;
  }

  #registrationForm{
    letter-spacing: 3px;
    color: #0c0c0c;
    font-weight: 600;
    transition: 0.3s;
    text-align: center;
    border-radius: 20px;
  }
  
  #loginForm{
    text-align: center;
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: 0.3s;
    border-radius: 20px;
    transition: 0.3s;
  }


#commonform {
  height:max-content;
  background: linear-gradient(to bottom,rgb(229,104,7),rgb(106,8,158));
  position: relative;
  padding-bottom: 10px;
  }


  .back_button{
    position: absolute;
    left: 15px;
    top:7px;
    font-size: 30px;
    cursor:pointer;
    border-radius: 50%;
  }
  .back_arrow{
    text-decoration: none;
    color: #0c0c0c;
    font-size: 30px;
  }


  .formbtn {
    border: calc(0.05 * var(--m)) solid transparent;
    border-top: none;
    position: relative;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: calc(0.7 * var(--m));
    font-weight: 400;
    font-family: "Segoe UI Regular";
    background:linear-gradient(#060504f2, #000000), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(17, 17, 233, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
    background-origin: border-box;
    background-clip: padding-box, border-box, border-box;
    background-size: 200%;
    animation: animate 2s infinite linear;
}

    .formbtn:hover, .formbtn:hover::before{
    animation: pop 1.5s infinite linear;
    font-weight: 400;
  }

  @keyframes pop {
    0% {background-position: 0}
    100% {background-position: 200%}
  }
  @media screen and (max-width: 1000px) {
    :root {
      --m: 2rem;
    }
  }

